{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    
    {% csrf_token %}
 
    <label for="file1"> Upload a IFSC file</label>
    <input type="file" id="file1" name="myfile">
    <small>ifscExcelupload Only accepts XLSX files </small>
    <button type="submit">Upload</button>
</form>

{% for profile in profiles %}
{{profile.name}}
{% endfor %}

{% endblock %}