{% extends "header.html" %}
{% block title %}JacknJill{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %} 
{% load mathfilters %}
{% block content %}
<style>
select {
	width: 100px;
     margin: 10px;
}
#select:focus {
    min-width: 150px;
    width: auto;
}
input[type=text],input[type=email],input[type=password],input[type=number],select {
  width: 17%;
  padding: 6px;
  border:  1px solid #D3D3D3;
  border-radius: 4px;
  resize: vertical;
}
h2{margin: 1em 0 0.5em 0;
font-weight: normal;
position: relative;
text-shadow: 0 -1px rgba(0,0,0,0.6);
font-size: 28px;
line-height: 40px;
background: #355681;
background: rgba(53,86,129, 0.8);
border: 1px solid #fff;
padding: 5px 15px;
color: white;
border-radius: 0 10px 0 10px;
box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
font-family: 'Muli', sans-serif;

}
#submit
{
margin: 1em 0 0.5em 0;
font-weight: normal;
position: relative;
text-shadow: 0 -1px rgba(0,0,0,0.6);
font-size: 20px;
line-height: 40px;
background: #66CCFF;

border: 1px solid #fff;
padding: 5px 15px;
color: white;
border-radius: 0 10px 0 10px;
box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
font-family: 'Arial', sans-serif;
}
#reset{
margin: 1em 0 0.5em 0;
font-weight: normal;
position: relative;
text-shadow: 0 -1px rgba(0,0,0,0.6);
font-size: 20px;
line-height: 40px;
background: #66CCFF;

border: 1px solid #fff;
padding: 5px 15px;
color: white;
border-radius: 0 10px 0 10px;
box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
font-family: 'Arial', sans-serif;
}

	</style>
	<script>
	$(document).ready(function(){  
	$("select").change(function() {   
	  $("select").not(this).find("option[value="+ $(this).val() + "]").attr('disabled', true);
	}); 
  });
</script><script>

    $(document).ready(function(){
    document.getElementById("emsfertiliser").value = localStorage.getItem("emsfertiliser");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("emsfertiliser",document.getElementById("emsfertiliser").value);
  });

	</script>
<script>
    function myFunction() {
        var bank=document.getElementById("emsfertiliser").value; 
        {
            document.getElementById("emsfertiliser").value = "E";
        }
        }
    </script>

<div class="container">
	<h2><center><b>Fertiliser</b></center></h2>
	<form  method="POST" action="" enctype="">
		{% csrf_token %}

		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<a type="new" class="btn btn-primary btn-lg" value="new"  href="/emsfertiliser/" >New </a>
		<a type="edit" class="btn btn-primary btn-lg" value="edit"  href="/manage_emsfertiliser/" >Edit </a>

	</form>
</div>


{% endblock %}