<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<style>
			table {
			  font-family: arial, sans-serif;
			  border-collapse: collapse;
			  width: 100%;
			}

			td, th {
			  border: 1px solid #dddddd;
			  text-align: center;
			  /*padding: 8px;*/
			  padding-top: 8px;
			  padding-bottom: 8px;
			}
			.title_middle{text-align: center;}
		</style>
	</head>
	<body>
			<h2 class="title_middle">Emsplanttype Report<br>{{datefrom}} to {{dateto}}</h2>
			<p class="title_middle">Emsplanttype code : {{emsplanttypecode}}<br>

		   </p><br>
		<table>
            <tr>
                <th>PType</th>
                <th>Descr</th>
                <th>remove</th>
                <th>NutFrCost</th>
                <th>nutvcocost</th>
                <th>NutMatrCost</th>
                <th>YieldStAge</th>
                <th>YieldEndAge</th>
                <th>EstNuts</th>
                <th>YieldIncrPer</th>
                       
			</tr>
            {% for em in data %}
            <tr>
               	<td>{{em.PType}}</td>
				<td>{{em.Descr}}</td>
				<td>{{em.remove}}</td>
				<td>{{em.NutFrCost}}</td>
				<td>{{em.nutvcocost}}</td>
				<td>{{em.NutMatrCost}}</td>
				<td>{{em.YieldStAge}}</td>
				<td>{{em.YieldEndAge}}</td>
				<td>{{em.EstNuts}}</td>
				<td>{{em.YieldIncrPer}}</td>
				
               
				</tr>
			{% endfor %}
		
	
		
		</table>
	</body>
</html>